<!DOCTYPE html>
<html lang="en">

<head>
<title>The Stones Gamee</title>
<meta charset="ISO-8859-1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
	<div class="container-fluid">
		<span id="activePlayer" style="display: none;"></span>
		<div class="jumbotron mt-3 text-center">
			<h2>Let's play a stones game!</h2>
			<p>To play the game select your player and Invite a friend by
				sharing the URL</p>
			<p>The game rules are below, Enjoy!
			</p>
			<p>
				<button type="button" class="btn btn-primary btn-large"
					data-toggle="modal" data-target="#myModal">Reset Game</button>
			</p>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div>
					<div class="card text-center player-card card-PLAYER_1">
						<img src="images/player1.png"
							class="rounded mx-auto img-responsive player-image">
						<div class="card-body">
							<button type="button" data-player="PLAYER_1"
								class="btn btn-primary btn-play">Play as Player 1</button>
							<button type="button" data-player="PLAYER_1"
								class="btn btn-success btn-playPit" style="display: none;"
								disabled>Play Selected Pit</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 board">
				<div class="row">
					<div class="col-xs-1 mx-auto">
						<div class="largePit1 mx-auto">
							<p id="pit6" class="stone-count">0</p>
						</div>
					</div>
					<div class="col-xs-1 col-md-10">
						<div class="row">
							<div class="col-xs-2 mx-auto">
								<div class="pit PLAYER_1 mx-auto">
									<span data-id="5" id="pit5" class="stone-count">0</span>
								</div>
							</div>
							<div class="col-xs-2 mx-auto">
								<div class="pit PLAYER_1 mx-auto">
									<span data-id="4" id="pit4" class="stone-count">0</span>
								</div>
							</div>
							<div class="col-xs-2 mx-auto">
								<div class="pit PLAYER_1 mx-auto">
									<span data-id="3" id="pit3" class="stone-count">0</span>
								</div>
							</div>
							<div class="col-xs-2 mx-auto no-padding">
								<div class="pit PLAYER_1 mx-auto">
									<span data-id="2" id="pit2" class="stone-count">0</span>
								</div>
							</div>
							<div class="col-xs-2 mx-auto no-padding">
								<div class="pit PLAYER_1 mx-auto no-padding">
									<span data-id="1" id="pit1" class="stone-count">0</span>
								</div>
							</div>
							<div class="col-xs-2 mx-auto">
								<div class="pit PLAYER_1 mx-auto">
									<span data-id="0" id="pit0" class="stone-count">0</span>
								</div>
							</div>
						</div>
						<div class="row" style="height: 50px;">
							<div class="col">
								<div class="mx-auto text-center">
									<p class="logo">Stones Game</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-2 mx-auto">
								<div class="pit PLAYER_2 mx-auto">
									<span data-id="7" id="pit7" class="stone-count">0</span>
								</div>
							</div>
							<div class="col-xs-2 mx-auto">
								<div class="pit PLAYER_2  mx-auto">
									<span data-id="8" id="pit8" class="stone-count">0</span>
								</div>
							</div>
							<div class="col-xs-2 mx-auto">
								<div class="pit PLAYER_2 mx-auto">
									<span data-id="9" id="pit9" class="stone-count">0</span>
								</div>
							</div>
							<div class="col-xs-2 mx-auto">
								<div class="pit PLAYER_2 mx-auto">
									<span data-id="10" id="pit10" class="stone-count">0</span>
								</div>
							</div>
							<div class="col-xs-2 mx-auto">
								<div class="pit PLAYER_2 mx-auto">
									<span data-id="11" id="pit11" class="stone-count">0</span>
								</div>
							</div>
							<div class="col-xs-2 mx-auto">
								<div class="pit PLAYER_2 mx-auto">
									<span data-id="12" id="pit12" class="stone-count">0</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-1 mx-auto">
						<div class="largePit2 mx-auto">
							<p id="pit13" class="stone-count">0</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="card text-center player-card card-PLAYER_2">
					<img src="images/player2.png"
						class="rounded mx-auto img-responsive player-image">
					<div class="card-body">
						<button type="button" data-player="PLAYER_2"
							class="btn btn-primary btn-play">Play as Player 2</button>
						<button type="button" data-player="PLAYER_2"
							class="btn btn-success btn-playPit" style="display: none;"
							disabled>Play Selected Pit</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="container-fluid" style="margin: 10px">
				<div class="row">
					<div class="col-md-2 col-md-offset-1"></div>
					<div class="col-md-8 col-md-offset-1">
						<div class="alert alert-primary alert-dismissible in text-center"
							role="alert">
							<strong>Select your player!</strong>
						</div>

					</div>
					<div class="col-md-2 col-md-offset-1"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Rules</h2>
				<p>The player who begins with the first move picks up all the
					stones in anyone of his own six pits, and sows the stones on to the
					right, one in each of the following pits, including his own big
					pit. No stones are put in the opponents' big pit. If the player's
					last stone lands in his own big pit, he gets another turn. This can
					be repeated several times before it's the other player's turn.</p>
			</div>
			<div class="col-md-4">
				<h2>Capturing Stones</h2>
				<p>During the game the pits are emptied on both sides. Always
					when the last stone lands in an own empty pit, the player captures
					his own stone and all stones in the opposite pit (the other
					players' pit) and puts them in his own pit. .</p>
			</div>
			<div class="col-md-4">
				<h2>The Game Ends</h2>
				<p>The game is over as soon as one of the sides run out of
					stones. The player who still has stones in his pits keeps them and
					puts them in his/hers big pit. Winner of the game is the player who
					has the most stones in his big pit.</p>
			</div>
		</div>
		<div class="modal" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Reset Game</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">Are you sure you want to reset the
						game?..</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary reset-game">Yes!
							I am Sure.</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" -->
	<!-- 	 crossorigin="anonymous"></script> -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
	<script src="scripts/game.js" type="text/javascript"></script>
</body>

</html>